.latestproductRoot{
    height: 100%;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));

}
.latestproductImage{
    height: 50px;
    width: 50px;
}
.salesRoot{
    filter: drop-shadow(0px 4px 4px rgba(0, 0.4, 0.4, 0.4));
    border-radius: 15px;

}

.shopvisitsRoot{
    height: 500px;
    border-radius: 15px;
    filter: drop-shadow(4px 4px 4px   rgba(0.4, 0.4, 0.4, 0.5))

}
