.root {
    box-shadow: 0px 4px rgba(0.25, 0, 0.25, 0.25);
    border-radius: 15;

  }


.box Button {
    margin-right: 10px;
    border-radius:30px                                                                                                                                                                                 
}
.history Button {
    border-radius:30px 
}
.searchBar {
    max-width: 100%;
    border : 10px;
    /* box-shadow: 0px 4px rgba(0.25, 0, 0.25, 0.25); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6))

}
.resultsRoot {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4))
}
.avatar {
    margin-right:10px
  }
  .tableBox{
   align-items: center;
  display : flex
  }
  
  .indexRoot{
    background-color: #F4F6F8;
    min-height: 100%;
    padding-bottom: 30px;
    padding-top: 50px
}
latestOrderRoot{
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4)),
}