.sidebarOptions {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOptions:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #77E393;
    transition: color 100ms ease-out;

}
.sidebarOptions  >.MuiSvgIcon-root{
    padding: 20px;
}
.sidebarOptions > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.sidebaroption--active{
    color: var(--twitter-color);
}