*{
  margin-top: 0;
}

.header {
  height: 6.5rem;
  box-shadow: 0 0px 1px 0 #222222;
  background-color: #ffffff;
  
}
.wrap {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  height: 100%;
}
.logo {
  width: 5rem;
  height: 5rem;
 margin-left: 0px;
  position: absolute;
  left: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);

  img {
    display: block;
    width: 100%;
    margin: 0;
  }
  
}
.title{
margin-left: 150px;
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 61px;
line-height: 83px;

color: #77E393;
}